body {
    background: #586776;
}

h1 {
    color: #ffffff;
    font-size: 80px;
    text-align: center;
    text-shadow: 2px 2px #0bc3d0;
}

.button {
    background-color: cadetblue;
    border: none;
    color: black;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;

}